.venv
.env
*.ipynb_checkpoints*
.Rproj.user
.zip
.h5
ptwiki-latest.json.gz
.keras
*.keras

machine-learning-avancado/introducao-word-embedding/treino.csv
machine-learning-avancado/introducao-word-embedding/teste.csv
machine-learning-avancado/introducao-word-embedding/cbow*
machine-learning-avancado/introducao-word-embedding/skip*